

li {
    list-style-type: none;
}

button {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px black;
}

.navbar {
    display: flex;
    max-height: 125px;
    background: rgba(40, 40, 40, 0.28);
    margin-bottom: 50px;
    border: 2px solid rgba(40, 40, 40, 0.58);
    border-radius: 5px;
}

.nav-logo {
    width: 40%;
}
.nav-logo img {
    height: 80%;
    margin-left: 2rem;
    margin-top: 10px;
}
.nav-menu {
    display: flex;
    width: 60%;
}
.nav-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: calc(15px + 2rem);
}

.infos {
    font-size: 1.2rem;
    margin-left: 85%;
}

.form-container {
    display: block;
}


.form-container input {
    display: block;
    margin-bottom: 10px;
}

footer {
    margin-top : 50px;
}


/****************
LOGIN PAGE
 ****************/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-loginpage label {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

.form-loginpage input {
    display: inline-block;
    float: left;}

.fieldset-loginpage {
    border: 2px solid #282828;
    width: 100%;
}
.connexion-loginpage-toppart {
    height: 60px;
}
.connexion-loginpage-subpart {
    display: flex;
}
.connexion-subpart {
    width: 40%;
}
.rememberme-plus-password {
    display: block;
    width: 60%;
}
.rememberme {
    display: flex;
    white-space: nowrap;
}








