{% extends 'base.html.twig' %}

{% block title %}Gestion des villes{% endblock %}

{% block body %}
    <h1>Gestion des villes</h1>

    <h2>Filtrer les sites</h2>
    <div class="formbuilder-text form-group field-text-1668537923384">
        <label for="text-1668537923384" class="formbuilder-text-label"
        >Le nom contient :</label
        >
        <input
                type="text"
                class="form-control"
                name="text-1668537923384"
                access="false"
                id="text-1668537923384"
        />
    </div>
    <div>


    </div>
    <div class="formbuilder-button form-group field-btn-search">
        <button
                type="submit"
                class="btn-default btn"
                name="btn-search"
                value="Rechercher"
                access="false"
                id="btn-search"
        >
            Rechercher
        </button>
    </div>
    <hr>
    <section>

        <table>
            <thead>
            <tr>
                <th class="tg-0pky">ville</th>
                <th class="tg-0pky">code postal</th>
                <th class="tg-0pky">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for ville in ville %}
                <tr>
                    <td class="tg-0pky">{{ ville.nom }}</td>
                    <td class="tg-0pky">{{ ville.codePostal }}</td>
                    <td class="tg-0pky">Modifier - Supprimer</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>
    <hr>

    <p>Tu veux ajouter une ville? </p>
    <form action="{{ path('ville_form') }}">
        <button type="submit">Clic ici</button>
    </form>

{% endblock %}


