{% extends 'base.html.twig' %}


{% block title %}Admin{% endblock %}

{% block body %}
    <div><h1>Bienvenu sur la page administrateur</h1></div>

    <p>Tu veux gérer les campus? </p>
    <button class="GFG">
           <a href ="http://localhost/sortie/public/admin/campus"> </a>
        Clic ici
    </button>


    <p>Tu veux gérer les villes? </p>
    <button class="GFG">
        <a href ="http://localhost/sortie/public/admin/ville"> </a>
        Clic ici
    </button>

{% endblock %}


