{% extends 'base.html.twig' %}

{% block title %}Gestion des campus{% endblock %}

{% block body %}
    <h1>Gestion des campus</h1>

    <h2>Filtrer les sites</h2>
    <div class="formbuilder-text form-group field-text-1668537923384">
        <label for="text-1668537923384" class="formbuilder-text-label"
        >Le nom contient :</label
        >
        <input
                type="text"
                class="form-control"
                name="text-1668537923384"
                access="false"
                id="text-1668537923384"
        />
    </div>
    <div>


    </div>
    <div class="formbuilder-button form-group field-btn-search">
        <button
                type="submit"
                class="btn-default btn"
                name="btn-search"
                value="Rechercher"
                access="false"
                id="btn-search"
        >
            Rechercher
        </button>
    </div>

    <section>

        {% for campus in campus %}
        <li>{{ campus.nom }}</li>
        {% endfor %}

    </section>

    <div>
         {{ form_start(campusForm)}}
        {{ form_widget(campusForm)}}
        <button>enregistrer</button>
        {{ form_end(campusForm)}}

    </div>

{% endblock %}
