{% extends 'base.html.twig' %}


{% block title %}Gestion des villes{% endblock %}

{% block body %}
<div>
    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button>ajouter</button>
    {{ form_end(villeForm) }}
</div>



{% endblock %}


