{% extends 'base.html.twig' %}

{%  block body %}
  <div class="sortie-form-container">


    <div class="sortie-form">
      {{ form_start(sortieForm) }}

     {{ form_widget(sortieForm) }}

      <button> Créer une sortie</button>

      {{ form_end(sortieForm) }}
    </div>
  </div>
{% endblock %}

{% block title %}
  Créer une nouvelle sortie | {{ parent() }}
{% endblock %}
