{% extends 'base.html.twig' %}

{% block body %}

  <div class="login-container" >

    <form method="POST" class="form-loginpage">
      <fieldset class="fieldset-loginpage">

        <div class="connexion-loginpage-toppart">
          <div>
            <label>Identifiant :</label>
           <input type="text"  name="username" id="username"required>
          </div>

          <div>
            <label>Mot de passe : </label>
            <input type="password"  name="password" id="password"required>
          </div>
        </div>

        <div class="connexion-loginpage-subpart">
          <div class="connexion-subpart">
            <button type="submit" id='connexion' name="connexion">Connexion</button>
          </div>

          <div class="rememberme-plus-password">
            <div class="rememberme">
              <input type="checkbox" id="rememberme" name="rememberme" value="Se souvenir de moi">
              <label for="rememberme"> Se souvenir de moi</label><br>
            </div>
            <a href="#" id="forgottenpassword">Mot de passe oublié ?</a>
          </div>
        </div>


      </fieldset>
    </form>
  </div>
{% endblock %}

{% block title %} {{ parent() }}| home {% endblock %}