{% extends'base.html.twig' %}

{% block body %}

<h1>Login</h1>
<div class="container">

    <form method="POST">
        <h1>Connexion</h1>

        <label>Identifiant :

            <input type="text"  name="username" required>
        </label>

        <label>Mot de passe :
        <input type="password"  name="password" required>
        </label>

        <input type="submit" id='submit' value='Connexion' >
    </form>
</div>
{% endblock %}

{% block title %} {{ parent() }}| home {% endblock %}